


@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fade-in 0.5s ease-in-out;
  }
  
  .profile-info {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem;
    transition: bottom 0.5s ease-in-out;
  }
  
  .profile-card:hover .profile-info {
    bottom: 0;
  }



  